.form {
    display: inline;
}

.edit {
    margin-left: 150px;
}

.orange::after {
    content: "未完了";
    margin-left: 1%;
    color: rgb(219, 64, 76);
}

.completed .title {
    text-decoration: line-through;
    color: gray;
}

.completed::after {
    content: "完了";
    margin-left: 1%;
    color: blue;
}
